.Box-grid {
    width: 100%;
    display: grid;
    grid-row: 3;
    grid-column: 2;
    grid-gap: 3px;
    justify-content: center;
    align-items: center;
}

#cafName {
    grid-row: 1/2;
    grid-column: 1/2;
}
#cafNum {
    grid-row: 1/2;
    grid-column: 2/2;
}
#epmName {
    grid-row: 2/3;
    grid-column: 1/2;
}

#epmNum {
    grid-row: 2/3;
    grid-column: 2/2;
}

input[type="text"],
input[type="password"] {
    width: 300px;
    field-sizing: content;
    padding: 5px;
    background-color: #F0F0F0;
    border: 1px solid #4D95A7;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
}

/* Submit button styling */
.footer-btn {
    grid-column: 1 / 3;
    /* Span the button across both columns */
    justify-self: center;
    /* Center horizontally */
    align-self: end;
    /* Align at the bottom of the grid */
    margin-top: 10px;
    /* Push it to the bottom */
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.In-valid,
.valid {
    margin: 10px 0 10px 0;
    justify-self: center;
    /* Center horizontally */
    align-self: center;
}

.input-container {
    position: relative;
    width: 100%;
    /* Ensure the input takes the full width */
}

.inputText {
    width: 100%;
    padding-right: 2.5rem;
    box-sizing: border-box;

}

.toggle-password-icon {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;

}

/* .toggle-password-icon:hover {
    color: #000;
} */