<div class="dropdown">
    <div class="dropdown-header" (click)="toggleDropdown()"
        [class.open]="isOpen">
        <span>{{ selectedOption }}</span>
        <img src="/assets/images/down-arrow.png" alt="Dropdown Arrow"
            class="dropdown-arrow" />
    </div>
    <div class="dropdown-body" *ngIf="isOpen">
        <ul class="options-list">
            <li
                *ngFor="let option of options"
                [class.selected]="selectedOptions === option"
                (click)="toggleOption(option)">
                {{ option }}
            </li>
        </ul>
    </div>
</div>
