<div class="model-boxShadow" (click)="closeDialog()"></div>
    <div class="model whiteColor">
        <div class="model-title">
            <h2>تعديل معلومات الموظف</h2>
        </div>
        <div class="model-content whiteColor">
            <form [formGroup]="EditEmpForm" (ngSubmit)="onSubmit()">
                <div class="Box-grid">
                    <div class="input-box" id="epmNum">
                        <h6 class="text-type">رقم الموظف:</h6>
                        <input
                            formControlName="empId"
                            class="inputText"
                            type="text"
                            maxlength="12"
                            required
                            >
                    </div>
                    <div class="input-box" id="empName">
                        <h6 class="text-type">اسم الموظف:</h6>
                        <input
                            formControlName="empName"
                            class="inputText"
                            type="text"
                            oninput="this.value = this.value.replace(/[^A-Za-z\u0621-\u064A\u0660-\u0669\s]/g, '')">
                    </div>
                    <button type="button" class="btn primaryColor rest-btn textWhiteColor" (click)="restPassword()">إعادة تعين كلمة المرور</button>
                    @if(restPasswordS)
                    {
                            <div class="input-box" id="empPassword">
                                <h6 class="text-type">كلمة المرور:</h6>
                                <span (click)="togglePasswordVisibility()">
                                </span>
                                <input
                                    formControlName="password"
                                    class="inputText"
                                    [type]="changeType ? 'password' : 'text'"
                                    minlength="4"
                                    maxlength="26">
                            </div>
                            <div class="input-box" id="empConfPassword">
                                <h6 class="text-type">تأكيد كلمة المرور:</h6>
                                <div class="input-container">
                                    <input
                                        formControlName="ConfirmPassword"
                                        class="inputText"
                                        [type]="changeType ? 'password' : 'text'"
                                        minlength="4"
                                        maxlength="26">
                                    <i
                                        [ngClass]="visible ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"
                                        class="toggle-password-icon"
                                        (click)="togglePasswordVisibility()">
                                    </i>
                                </div>
                            </div>
                    }

        
                    <div id="empJob">
                        <h6 class="text-type">الوظيفة:</h6>
                        <app-multi-select-dropdown
                        [isRole]="true"
                            placeHolder="الوظيفة"
                            [options]="['Admin', 'Manager', 'Receptionist', 'Doctor', 'Nurse Male', 'Nurse Female', 'Pharmacist']"
                            (selectedChange)="Role($event)"
                            [selectedOptions]="user?.roles || []">
                        </app-multi-select-dropdown>
                    </div>
                </div>
                <div id="messages">
                    <p class="In-valid" *ngIf="errorMessage">{{errorMessage}}</p>
                    <p class="valid" *ngIf="successMessage">تم تعديل معلومات الموظف بنجاح</p>
                </div>
                <div class="footer-btn">
                    <ng-container *ngIf="isLoading(); else notLoading">
                        <div
                        class="btn primaryColor"><app-loading-image></app-loading-image></div>
                    </ng-container>
                    <ng-template #notLoading>
                        <button type="submit" class="btn primaryColor textWhiteColor">حفظ</button>
                    </ng-template>
                    <button type="button" class="btn closeColor textWhiteColor" (click)="closeDialog()">اغلاق</button>
                </div>
            </form>
        </div>
    
    </div>


