<div class="nav-box">
    <div id="close-btn" (click)="onClose()"><i class="bi bi-x-lg"></i></div>
    <h1>شؤون الموظفين</h1>
    <!-- Radio Inputs -->
    <input
        type="radio"
        name="slider"
        id="tabP-1"
        (change)="selectTab('employee-regist')"
        checked />
    <input
        type="radio"
        name="slider"
        id="tabH-2"
        (change)="selectTab('employee-table')" />

        
    <!-- Navigation Labels -->
    <nav>
        <label for="tabP-1" class="tab-1">تسجيل موظف</label>
        <label for="tabH-2" class="tab-2">الموظفين</label>
        <div class="slider primaryColor"></div>
    </nav>
</div>
